body {
    background-color:rosybrown;
}
div {
    padding: 5px;
    margin: 20px 5px 20px 5px;
}
p {
    margin:0px;
}
.top, .middle, .bottom {
    border: 5px solid white;
    border-radius: 10px;
}
.container {
    width: 90%;
    margin: auto;
}
.logo {
    float: left;
    min-width: 100px;
    background-image: url(icons/logo.png);
}
.settings, .logo {
    height: 100px;
    border: 2px solid black;
}
.result {
    height: 120px;
    border: 4px solid black;
    border-radius: 10px;
}
.pic0 {
    background-image: url(man.png);
}
.pic1 {
    background-image: url(woman.png);
}
.pic2 {
    background-image: url(man2.jpg);
}
.pic0, .pic1, .pic2 {
    float: left;
    min-width: 80px;
    background-repeat: no-repeat;
    background-size: contain;
}
.info, .pic0, .pic1, .pic2 {
    height: 80px;
    border: 2px solid black;
}
.info p{
    white-space: pre-wrap;
}



nav {
    width: 160px;
    height: 55px;

}

.items {
    background-color: lightgray;
    border: solid #555656;
    border-radius: 10px;
}


/* dropdown menu css heavily used from https://css-tricks.com/solved-with-css-dropdown-menus/ 
    styling done by me  */
ul {
    list-style: none;
    margin: 0;
    padding-left: 0;

}

li {
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    width:120px;
    
}

li:hover {
    cursor: pointer;
    background-color: darkgray;
    }

ul li ul {
    min-width: 5rem;
    position: absolute;
    margin-top: 1rem;
    left: 0;
    display: none;
}

ul li:hover > ul, ul li ul:hover, ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block;
    }


